<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>The Gallery Project</title>

</head>

<body>


  <div class="container">

    <a href="">
      <div class="item left">
        <img border="0" alt="Back" src="../assets/icons/arrow.svg" width="50" height="50">
      </div>
    </a>

    <div class="item middle">
      <img border="0" alt="Back" src="../assets/images/4.jpg">
      <div class="textholder"></div>
    </div>

    <a href="">
      <div class="item right">
        <img border="0" alt="Forward" src="../assets/icons/arrow.svg" style="transform:rotate(180deg);" width="50" height="50">
      </div>

    </a>
  </div>
  <ul class="thumbnails">
    <li class="thumb">
        <!--<div id="pointer"></div>-->
        <img border="0" alt="<%=name%>" src="../assets/images/1.jpg" width="50" height="50">
    </li>
    <li class="thumb"></li>
    <li class="thumb"></li>
    <li class="thumb"></li>
    <li class="thumb"></li>
    <li class="thumb"></li>
    <li class="thumb"></li>
    <li class="thumb"></li>

    
  </ul>

</body>

</html>