body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(ellipse at top, white, grey);
  flex-direction: column;
}

h1, h3, p {
  font-family: Montserrat, sans-serif;
  align-content: center;
}

p {
  margin: 0px;
}

.container {
  display: flex;
  align-items: center;
  height: 576;
  width: 1024px;
  overflow: hidden;
  border-radius: 15px;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.42);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.42);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.42);
}

.item {
  display: flex;
  height: 100%;
  min-width: 20px;
}

.left {
  background-image: linear-gradient(to bottom, white, rgb(163, 163, 163));
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 20px;
}

.right {
  background-image: linear-gradient(to bottom, white, rgb(163, 163, 163));
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 20px;
}

.thumb {
  display: flex;
  list-style-type: none;
  background: white;
  height: 75px;
  width: 75px;
  margin: 15px 15px 0 0;
  border-radius: 15px;
  overflow: hidden;

  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.42);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.42);
}

.thumbnails {
  display: flex;
  flex-direction: row;
}

a:hover {
  filter: invert(15%);
  cursor: pointer;
  alt: visible;
}

.right:hover {
  filter: invert(5%);
  cursor: pointer;
}

.left:hover {
  filter: invert(5%);
  cursor: pointer;
}

/*
#pointer {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 100px solid red;
  align-items: center;
  justify-content: center;
}

#hover:hover {
  margin: -15px;
}
*/

li:hover {
  cursor: pointer;
  border: 5px solid darkgrey;
  /*
  float: top;
  margin: -5px;
  -webkit-transition: margin 0.2s ease-out;
  */
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.42);
}

li {
  border: 5px solid lightgrey;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
}

.thumbimg {
  width: 170%;
  height: 100%;
}

.thumbimg:hover{
  filter: invert(10%);
}

/************Tooltip**************/

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 95%;
  left: 50%;
  margin-left: -60px;
  font-family: Montserrat, sans-serif;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  font-family: Montserrat, sans-serif;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*************TESTING***************/

.pic{
  height: 200px;
  width: 400px;
  background: url("https://www.nika-actief.nl/wp-content/uploads/2016/12/400x200.png") no-repeat;
}

.text{
  height: 125;
  width: 360px;
  padding: 10px 20px;
  background: black;
  opacity:0;

  display: flex;
  flex-direction: column;
}

.pic:hover .text{
  display: flex;
  opacity:0.6;
  text-align:justify;
  align-content: flex-end;
  color:white;
  font-family: Montserrat, sans-serif;
}
/**/
.middle {
  display: flex;
  flex-grow: 40;
}

.middle:hover {
  opacity:0.6;
  text-align:justify;
  align-content: flex-end;
  color:white;
  font-family: Montserrat, sans-serif;
}